<!DOCTYPE html>
<html> 
  <head>
   
   <title>DB-Script docs api</title>
   <link rel="icon" href="https://gblobscdn.gitbook.com/spaces%2F-MFC1cmZPWN6Vy0cf9FZ%2Favatar-1597946658022.png?alt=media"></link>
   <meta name="theme-color" content="#00FFFF" />
   <meta property="og:title" content="DB-Script Docs Api" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://dbscript-docs-api.bacontroll393.repl.co/" />
   <meta property="og:site_name" content="DBScriptDocsApi" />
   <meta property="og:description" content="Unofficial DB-Script docs api which uses https://docs.db-script.com/">
  </head>
  <h1> DB-Script docs api </h1>
  <h3> Endpoints </h3>
   <ul>
     <li><strong>/search?q=YOUR_SEARCH_HERE</strong></li>
     <li><strong>/functionslist</strong></li>
     <li><strong>/eventssearch?q=YOUR_SEARCH_HERE</strong></li>
     <li><strong>/eventslist</strong></li>
   </ul><br><br>
   <footer><em>Made by anterresteretrevoneneon#0069</em></footer>
</html>
